[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==3.1.6"
itsdangerous = "==1.1.0"
asyncpg = "==0.18.3"
websockets = "==7.0"
Earl-ETF = "==2.1.2"
logbook = "==1.4.3"
Cerberus = "==1.2"
quart = "==0.9.0"
pillow = "*"
aiohttp = "==3.5.4"

[dev-packages]
pytest = "==4.4.1"
pytest-asyncio = "==0.10.0"
pyflakes = "*"
mypy = "*"

[requires]
python_version = "3.7"
