[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==3.1.4"
itsdangerous = "==0.24"
asyncpg = "==0.18.2"
websockets = "==6.0"
Earl-ETF = "==2.1.2"
logbook = "==1.4.0"
Cerberus = "==1.2"
quart = {editable = true, ref = "e23714d5", git = "https://gitlab.com/pgjones/quart"}
pillow = "*"

[dev-packages]
pytest = "==3.10.1"
pytest-asyncio = "==0.9.0"
pyflakes = "*"

[requires]
python_version = "3.7"
