[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==3.1.4"
itsdangerous = "==0.24"
asyncpg = "==0.16.0"
websockets = "==5.0.1"
Quart = "==0.6.0"

[dev-packages]

[requires]
python_version = "3.6"
