:root {
    --background-color: #161032;
    --title-color: #694d75;
    --link-color: #9fc2cc;

    --text-color: #a9e5bb;
    --tos-color: #fcf6b1;
}

html, body {
    background: var(--background-color);
}

h1, p {
    font-size: 20px;

    /* ok i dont have verdana lmao help */
    font-family: "Verdana", sans-serif;

    color: var(--text-color);
    font-color: var(--text-color);
}

b.tos {
    color: var(--tos-color);
    font-color: var(--tos-color);
}

h1 {
    font-size: 30px;
    color: var(--title-color);
}

/* main page layout for the description and links */

#page {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-gap: 50px;
}

article {
    font-size: 13px;
    grid-column-start: 2;
    grid-column-end: 3;
}

aside {
    grid-column-start: 3;
    grid-column-end: 4;
}

/* custom color for <a>'s */
a {
    color: var(--link-color);
    text-decoration: underline;
}
