<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport" />
      <!-- section:seometa -->
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="Discord" />
      <meta property="og:title" content="Discord - A New Way to Chat with Friends & Communities" />
      <meta
         property="og:description"
         content="Discord is the easiest way to communicate over voice, video, and text.  Chat, hang out, and stay close with your friends and communities."
         />
      <meta property="og:image" content="/assets/{{ style }}" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@discord" />
      <meta name="twitter:creator" content="@discord" />
      <!-- endsection -->
      <link rel="stylesheet" href="/assets/{{ style }}">
      <link rel="icon" href="/assets/07dca80a102d4149e9736d4b162cff6f.ico" />
      <!-- section:title -->
      <title>Discord v{{ build_id }}</title>
      <!-- endsection -->
   </head>
   <body>
      <div id="app-mount"></div><script>window.__OVERLAY__ = /overlay/.test(location.pathname)</script><script>window.GLOBAL_ENV = JSON.parse("{{ GLOBAL_ENV }}");
      </script><script>undefined</script><script src="/assets/{{ loader }}" integrity=""></script><script src="/assets/{{ classes }}" integrity=""></script><script src="/assets/{{ app }}" integrity=""></script>
   </body>
</html>
